.cityhall {
    left: 605px;
    top: 170px;
    width: 150px;
    height:150px;
    position: absolute;
    transition: transform .5s; 
}

#cityhall:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.terminal {
    left: 850px;
    top: 220px;
    width: 150px;
    height:100px;
    position: absolute;
    transition: transform .5s; 
}

#terminal:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}


.airport {
    left: 950px;
    top: 220px;
    width: 150px;
    height:100px;
    position: absolute;
    transition: transform .5s; 
}
#airport:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.port {
    left: 1050px;
    top: 220px;
    width: 150px;
    height:100px;
    position: absolute;
    transition: transform .5s; 
}

#port:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.island {
    left: -100px;
    top: 370px;
    width: 300px;
    height:200px;
    position: absolute;
    transition: transform .5s; 
}

#island:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.island2 {
    right: -100px;
    top: 400px;
    width: 351px;
    height:189px;
    position: absolute;
    transition: transform .5s; 
}

/* #island2:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
} */

.dmc {
    right: 60px;
    top: 470px;
    width: 120px;
    height:40px;
    position: absolute;
    transition: transform .5s; 
}

#dmc:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}


.vinta1 {
    left: 300px;
    top: 430px;
    width: 100px;
    height:100px;
    position: absolute;
    transition: transform .5s; 
}

#vinta1:hover {
    transform: scale(1.2); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.vinta2 {
    left: 850px;
    top: 400px;
    width: 60px;
    height:60px;
    position: absolute;
    transition: transform .5s; 
}

#vinta2:hover {
    transform: scale(1.2); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}




