.cityhall {
    left: 580px;
    top: 190px;
    width: 250px;
    height:250px;
    position: absolute;
    transition: transform .5s; 
}

#cityhall:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.terminal {
    left: 750px;
    top: 240px;
    width: 250px;
    height:200px;
    position: absolute;
    transition: transform .5s; 
}

#terminal:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}


.airport {
    left: 920px;
    top: 240px;
    width: 250px;
    height:200px;
    position: absolute;
    transition: transform .5s; 
}
#airport:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.port {
    left: 1060px;
    top: 240px;
    width: 250px;
    height:200px;
    position: absolute;
    transition: transform .5s; 
}

#port:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}

.island {
    left: 10px;
    top: 430px;
    width: 150px;
    height:150px;
    position: absolute;
    transition: transform .5s; 
}

#island:hover {
    transform: scale(1.3); 
    opacity: 1;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
    z-index: 50;
}
