
.zoom {
	/* transition: all .5s ease-in-out; */
	transition: transform .5s; 
}
.zoom:hover {
	transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

ul#map{
	list-style: none;
	width: 1150px;
	height: 570px;
    position: relative;
    background-color: red;
	background: url(../../assets/images/landing/bg.png) no-repeat center;
	background-size: contain;
	margin: auto;
}

ul#map li{
	position: absolute;
}

.cityhall {
	width: 200px;
	height: 150px;
	bottom: 251px;
    left: 756px;
    background-color: red;
    opacity: .5;
}

ul#map li.cityhall:hover{
    /* background-position: 0 -950px; */
    width: 150px;
    height: 100px;
    background-image: url(../../assets/images/landing/new/cityhall.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}
