
.zoom {
	/* transition: all .5s ease-in-out; */
	transition: transform .5s; 
}
.zoom:hover {
	transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

ul#map{
	list-style: none;
	width: 1150px;
	height: 570px;
    position: relative;
    background-color: red;
	background: url(../../assets/images/landing/bg2.png) no-repeat center;
	background-size: contain;
	margin: auto;
}

ul#map li{
	position: absolute;
}

.cityhall {
	width: 150px;
	height: 140px;
	bottom: 305px;
    left: 810px;
}

ul#map li.cityhall:hover {
    /* background-position: 0 -950px; */
    width: 140px;
    height: 130px;
    background-image: url(../../assets/images/landing/new/cityhall.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}

.sm {
	width: 130px;
	height: 120px;
	bottom: 315px;
	left: 670px;
}

ul#map li.sm:hover {
    /* background-position: 0 -950px; */
    width: 120px;
    height:85px;
    background-image: url(../../assets/images/landing/new/sm.png);
	background-size: cover;
	-webkit-filter: drop-shadow(5px 5px 5px #222);
	filter: drop-shadow(5px 5px 5px #222);
}
