


  .top-left {
    width: 1100px;
    height: auto;
    top: 0;
    left: 180px;
    position: absolute;
  }

  .top-right {
    width: 400px;
    height: auto;
    top: 0;
    right: 0;
    position: absolute;
  }

  

  .bottom-left {
    width: 400px;
    height: auto;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .bottom-right {
    width: 400px;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .logo {
    width:455px;
    height: auto;
    top: 0;
    left: 0px;
    position: absolute;
  }

  
  .menu {
    width:240px;
    height: auto;
    top: 100px;
    left: 0px;
    position: absolute;
  }

  .about {
    width:162px;
    height: auto;
    top: 162px;
    left: 23px;
    position: absolute;
    transition: transform .5s; 
  }

  .about:hover {
    transform: scale(1.1);
  }

  .events {
    width:91px;
    height: auto;
    top: 212px;
    left:7px;
    position: absolute;
    transition: transform .5s; 
  }

  .events:hover {
    transform: scale(1.1);
  }

  .exhibit {
    width:91px;
    height: auto;
    top: 212px;
    left: 104px;
    position: absolute;
    transition: transform .5s; 
  }

  .exhibit:hover {
    transform: scale(1.1);
  }

  .logos {
    width:300px;
    height: auto;
    top: 0;
    right: 0px;
    position: absolute;
  }

  .registerwood {
    width:159px;
    height: auto;
    top: 0;
    right: 520px;
    position: absolute;
  }

   .registerw {
    width:105px;
    height: auto;
    top: 16px;
    right: 550px;
    position: absolute;
    transition: transform .5s; 
  }

  .registerw:hover {
    transform: scale(1.1);
  }

  .faqs {
    width:180px;
    height: auto;
    bottom: 0;
    right: 10px;
    position: absolute;
  }

  .faq {
    width:109px;
    height: auto;
    bottom: 11px;
    right: 43px;
    position: absolute;
  }

  .faq:hover {
    transform: scale(1.1);
  }

  .copy {
    width:180px;
    height: auto;
    bottom: 0;
    left: 10px;
    position: absolute;
  }

  .plane {
    top: 150px;
    width: 25%;
    height:auto;
    position: absolute;
    animation: slide 10s 1 linear forwards;
  }

  @keyframes slide {
    100% {
     left: -50%;
    opacity: 0;
    }
    90% {
      opacity: 1;
    }
    50% {
      left: 50%;
      opacity: 1;
    }
    0% {
      left: 100%;
      opacity: 1;
      display: none;
    }
  }


/*   
  .vinta2 {
    left: 850px;
    top: 540px;
    width: 4%;
    height:auto;
    position: absolute;
    transition: transform .5s; 
    animation: nudge 40s linear infinite alternate;
  }

  .vinta3 {
    top: 543px;
    left: 450px;
    width: 2%;
    height:auto;
    position: absolute;
    transition: transform .5s;  
    animation: nudge2 20s linear infinite alternate;
    transform: scaleX(-1);
  } */


  

